.section-contact {
  margin-top: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  .text-zone {
    p {
      width: 90%;
    }
  }

  iframe {
    height: 100vh;
    overflow-x: hidden;
  }
  form {
    height: 100vh;
    margin-top: 20px;
    margin-bottom: -70px;
    li {
      list-style: none;
      &.half {
        width: 49%;
        float: left;
        clear: none;
      }
      input,
      textarea {
        margin: 10px;
        width: 95%;
        border: 0;
        background: #2b2b2b;
        height: 50px;
        font-size: 16px;
        color: #8d8d8d;
        padding: 20px;
        outline: none;
        color: #fff;
        font-size: 16px;
        box-sizing: border-box;
      }

      textarea {
        height: 300px;
        font-family: inherit;
      }
    }
  }
}
