.section-home {
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;

  .hero {
    width: 250px;
    position: relative;
    transform: translateX(450px);
    &::before {
      content: "";
      position: absolute;
      width: 250px;
      height: 250px;
      background-color: rgba(238, 238, 238, 0.13);
      border-radius: 50%;
      transform: translate(3px, 40px);
    }
    img {
      width: 100%;
      filter: grayscale(100%);
    }
  }
}

canvas {
  width: 98vw !important;
}
