.magicwall {
  // background-color: rgba($color: #fff, $alpha: 0.1);

  &:before {
    content: "<section>";
    font-family: "La Belle Aurore", cursive;
    color: #515152;
    font-size: 1.2rem;
    position: absolute;
    margin-top: -4rem;
    left: 5rem;
  }
  &::after {
    content: "<section/>";
    font-family: "La Belle Aurore", cursive;
    color: #515152;
    font-size: 1.2rem;
    position: absolute;
    margin-top: 4rem;
    margin-left: 5rem;
  }
}

.magicwall-ul {
  padding: 0 80px;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 1500px;
  li {
    position: relative;
    overflow: hidden;
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) .magic-wall_item {
        background-image: url("./imgs/#{$i}.png");
      }
    }
    &:nth-child(1) .magic-wall_item {
      background-position: top;
    }
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    &:hover {
      .magic-wall_item {
        .hover-content {
          opacity: 0;
        }
      }
      .magic-wall_item {
        transform: scale(1.14);
      }

      a {
        opacity: 1;
      }
    }
    .magic-wall_item {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.4s;

      .hover-content {
        position: absolute;
        z-index: 1;
        opacity: 1;
        text-align: center;
        color: #fff;
        background-color: rgba($color: #000000, $alpha: 0.5);
        transition: 0.8s;
        width: 100%;
        height: 100%;
      }
    }

    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      background: url("../imgs/circle.png") no-repeat center;
      opacity: 0;
      border-radius: 50%;
      transition: opacity 0.5s 0.1s;
      transform: scale(0.7);
    }
  }
}

@media (max-width: 700px) {
}
