.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.918);
  background: #262c37;
  letter-spacing: 2px;
  font-size: 16px;
  transition: 0.5s;
  transform: translate(30px, 40px);
}

.btn:hover {
  color: #fff;
}

.btn span {
  display: block;
  position: absolute;
  background: #c43254;
}

.btn span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}

.btn:hover span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.btn span:nth-child(2) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.btn:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}

.btn span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s 0.5s;
}

.btn:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s 0.5s;
}

.btn span:nth-child(4) {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s 0.5s;
}

.btn:hover span:nth-child(4) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s 0.5s;
}

.circle {
  z-index: 1000;

  ul {
    z-index: 1000;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    margin: 0;
    padding: 0;
    display: flex;
    width: 40px;
    height: 40px;
    opacity: 0.3;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  ul.changed::before {
    content: "\f00d";
  }
  ul::before {
    content: "\f1e0";
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff00ff, #8a2be2);
    border-radius: 30px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 25px;
    margin: 0 2px;
    transition: 0.5s;
    z-index: 1;
  }

  ul li {
    position: absolute;
    list-style: none;
    transition: 1s;
  }

  ul li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #262626;
    color: #fff;
    margin: 0 2px;
    border-radius: 50%;
    font-size: 25px;
    transition: 1s;
  }

  ul li:nth-child(1) a {
    background: #1877f2;
  }

  ul li:nth-child(2) a {
    background: #1da1f2;
  }

  ul li:nth-child(3) a {
    background: #111;
  }

  ul li:nth-child(4) a {
    background: #007bb5;
  }



  ul.clicked li:nth-child(1) a {
    transform: translateX(44px) rotate(360deg);
    transition-delay: 0.8s;
  }

  ul.clicked li:nth-child(2) a {
    transform: translateX(88px) rotate(360deg);
    transition-delay: 0.6s;
  }

  ul.clicked li:nth-child(3) a {
    transform: translateX(132px) rotate(360deg);
    transition-delay: 0.4s;
  }

  ul.clicked li:nth-child(4) a {
    transform: translateX(176px) rotate(360deg);
    transition-delay: 0.2s;
  }
}
