@import url(https://fonts.googleapis.com/css?family=La+Belle+Aurore:regular);

$light-gray-color: #515152;
$font: "La Belle Aurore";
$size: 1.2rem;

.tags {
  color: $light-gray-color;
  position: absolute;
  bottom: 0;
  left: 1rem;
  font-style: italic;
  font-size: $size;
  font-family: $font;

  &-top {
    top: 2rem;

    &::after {
      content: "<body>";
      font-family: inherit;
      color: inherit;
      font-size: inherit;
      position: inherit;
      margin-left: 1rem;
    }
  }

  &-bottom {
    bottom: -10rem;
    &::before {
      bottom: 3rem;
      content: "</body>";
      font-family: inherit;
      color: inherit;
      font-size: inherit;
      position: absolute;
      margin-left: 2rem;
    }
  }
}

h1 {
  &::before {
    content: "<h1>";
    font-family: $font;
    color: $light-gray-color;
    font-size: $size;
    position: absolute;
    margin-top: -3rem;
    left: -1rem;
  }

  &::after {
    content: "<h1/>";
    font-family: $font;
    color: $light-gray-color;
    font-size: $size;
    position: absolute;
    margin-top: 1.8rem;
    margin-left: 2rem;
  }
}
h2 {
  &::before {
    content: "<h2>";
    font-family: $font;
    color: $light-gray-color;
    font-size: $size;
    position: absolute;
    margin-top: -3rem;
    left: -1rem;
  }

  &::after {
    content: "<h2/>";
    font-family: $font;
    color: $light-gray-color;
    font-size: $size;
    position: absolute;
    margin-top: 1.8rem;
    margin-left: 2rem;
  }
}

p {
  &.gray-text {
    margin-top: 30px;
  }
  position: relative;
  transform: translateX(2rem);
  &::before {
    content: "<p>";
    position: absolute;
    color: $light-gray-color;
    font-size: 18px;
    margin-top: -2rem;
    left: -1rem;
    font-family: $font;
  }
  &::after {
    content: "<p/>";
    font-family: $font;
    color: $light-gray-color;
    font-size: 18px;
    position: absolute;
    left: -1rem;
    bottom: -2rem;
  }
}

.section-contact .text-zone {
  &::before {
    content: "<form>";
    font-family: $font;
    color: $light-gray-color;
    font-size: $size;
    position: absolute;
    margin-top: -4rem;
    left: 5rem;
  }

  &::after {
    content: "<form/>";
    font-family: $font;
    color: $light-gray-color;
    font-size: $size;
    position: absolute;
    margin-top: 1.8rem;
    margin-left: 0rem;
  }
}
