@use "external-utils";

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=La+Belle+Aurore&display=swap");

$gray-color: #8d8d8d;
$light-gray-color: #515152;

.section-full {
  min-height: 100vh;
  padding: 9rem 3rem;
  position: relative;
  opacity: 0;
  transition: opacity 0.4s;
}

.gray-text {
  font-size: 1.2rem;
  letter-spacing: 3px;
  margin-top: 1rem;
  margin-left: 10px;
  display: block;
  color: $gray-color;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2em;
  // color: #fff;
  font-family: "Comfortaa";
  font-weight: 400;
  font-size: 4.3rem;
  line-height: 4.7rem;
  position: relative;
  margin: 0;
  transform: translateX(2rem);
  img {
    // margin-left: -20px;
    transform: translate(0px, 17px);
    width: 6.5rem;
    margin: 0 2px 0 15px;
  }
}

h2 {
  color: #08fdd8;
  font-weight: 400;
  margin-bottom: 40px;
  position: relative;
  left: -10px;
  line-height: 4.9rem;
  font-size: 4rem;
  font-family: "Comfortaa", sans-serif;
  transform: translateX(2rem);
}

.btn {
  font-family: "Open Sans", sans-serif;
}

.btn-see {
  transform: translate(0);
}

p {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: #08fdd8;
  &:hover {
    color: darken($color: #64cebe, $amount: 1);
  }
}

a.resume {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 10;
  opacity: 0.4;
  transition: 0.2s;
  padding: 5px;
  border-radius: 2px;
  &:hover {
    opacity: 1;
    background-color: #64cebe;
    color: #111;
  }
}

.progress {
  height: 2px;
  position: fixed;
  top: 0;
  left: 0;
  // width: 100%;
  background-color: #64cebe;
  z-index: 100;
}
